
aside {
    
    /* float: right; */
    width: 40%;
    background-color: var(--blue);
   color: var(--white);
    
}

aside > h2 { /* Impacte Nom et Prénom CV */
    font-size: 2.8em;
    text-align: center;
    color: var(--lightorange);
    margin-bottom: 10px;
    margin-top: 0px;
    
}

aside > section > h2 { /*impact les titre du Aside */
    font-size: 2.0em;
    text-align: center;
    color: var(--lightorange);

}

aside > section > p { /* Impact le texte sous savoir-être et savoir-faire */
    font-size: 1.0em;
    text-align: left;
    padding: 0% 12% 0% ;
    font-style: italic;
    

}

figure {
    border: solid 6px var(--lightorange);
    margin-left: auto; /* centre le cadre par rapport à la large du aside */
    margin-right: auto; /* centre le cadre par rapport à la large du aside */
    margin-top: 0px;
    width: 60%;
    
}

figure figcaption {
    text-align: center;

}


img {
 max-width: 100%; /* adapte la photo au cadre */
 max-height: 100%; /* adapte la photo au cadre */
 border-bottom: solid 6px var(--lightorange);
}
    
aside > hr {
    height: 10px;
    background-color: var(--lightorange);
    margin: 40px;
}

aside > section > article > p > a {
    color: var(--white);
    text-decoration: none;
}

aside > section > article > p  { /* impacte le texte dans coordonnée */

    font-size: 1.0em;
    padding-left: 18%;
    padding-right: 2%;


}

aside > section > article > p > span  { /* impacte les icones dans coordonnée */
    float: left; /* Permet aux icone de se placer à gauche du texte */
    margin-right: 0.2em;
    
}


